* {
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}
.bg-dbterra {
    background-color: #E8DDCB;
}
.bg-thoughtless {
    background-color: #033649;
}
.bg-terra {
    background-color: #CDB380;
}
html, body {
    background-color: white!important;
    /* background: url('runway.jpg') no-repeat center center fixed;  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}