* {
    font-family: 'Roboto Condensed', sans-serif!important;
    margin: 0;
}
.text-white {
    color: white!important;
}
.bg-black {
    background-color: black;
}
.bg-profonda {
    background-color: #033649;
}
.bg-acqua {
    background-color: #036564;
}
.bg-abisso {
    background-color: #031634;
}
.bg-panton {
    background-color: #F2C45A;
}
.bg-cantaloupe {
    background-color: #BFB35A;
}
.bg-qwhite {
    background-color: #DEDDDB;
}
.bg-wegner {
    background-color: #88A65E;
}
.bg-eames {
    background-color: #8C2318;
}
.bg-knoll {
    background-color: #5E8C6A;
}
.bg-dbterra {
    background-color: #E8DDCB;
}
.bg-thoughtless {
    background-color: #033649;
}
.bg-terra {
    background-color: #CDB380;
}
html, body {
    background-color: white!important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
div.col-sm-6.mb-5 > div.h-100.border-dark {
    box-shadow: -0.05em 0.05em 1em 0.001em black;
}
.icon-linkedIn {
    background-image: url('../assets/LI-In-Bug.png');
    background-size: cover;
    display: inline-block;
    height: 3rem;
    width: 3rem;
}
.icon-yt {
    background-image: url('../assets/yt.png');
    background-size: cover;
    display: inline-block;
    height: 3.105rem;
    width: 4.5rem;
}
.icon-insta {
    background-image: url('../assets/insta.png');
    background-size: cover;
    display: inline-block;
    height: 3rem;
    width: 3rem;
}
.icon-twit {
    background-image: url('../assets/twitter.png');
    background-size: cover;
    display: inline-block;
    height: 3rem;
    width: 3rem;
}
.card-body {
    height: 20vh;
}
.card-title, .card-body {
    color: white;
}